.btn {
	cursor: pointer;
	background-color: $primary-color;
	color: #fff;
	border: none;
	padding: 15px 25px;
	font-size: 16px;
	border-radius: 5px;
	transition: background-color 0.3s, transform 0.3s;

	&:hover {
		background-color: darken($primary-color, 15%);
		transform: scale(1.05);
	}
}

.btn-danger {
	background-color: $danger-color;

	&:hover {
		background-color: lighten($danger-color, 15%);
	}
}

.btn-success {
	background-color: $success-color;

	&:hover {
		background-color: lighten($success-color, 15%);
	}
}

input, textarea, select {
	width: 100%;
	padding: 15px;
	font-size: 16px;
	border: unset;
	border-radius: 5px;
	background-color: #2c2c2c;
	color: $text-color;
	margin-bottom: 20px;
}

input:focus, textarea:focus, select:focus {
	border: 1px solid $border-color;
	border-color: $border-color;
	outline: none;
}

::selection {
	background-color: $primary-color;
	color: #fff;
}

::-moz-selection {
	background-color: $primary-color;
	color: #fff;
}

::-o-selection {
	background-color: $primary-color;
	color: #fff;
}

::-webkit-selection {
	background-color: $primary-color;
	color: #fff;
}

::-ms-selection {
	background-color: $primary-color;
	color: #fff;
}