.btn {
	cursor: pointer;
	background-color: $primary-color;
	color: #fff;
	border: none;
	padding: 15px 25px;
	font-size: 16px;
	border-radius: 5px;
	transition: background-color 0.3s, transform 0.3s;

	&:hover {
		background-color: darken($primary-color, 15%);
		transform: scale(1.05);
	}
}

.btn-danger {
	background-color: $danger-color;

	&:hover {
		background-color: lighten($danger-color, 15%);
	}
}

.btn-success {
	background-color: $success-color;

	&:hover {
		background-color: lighten($success-color, 15%);
	}

}
