/**
 * SCSS Variables - Variables for the theme
 * ----------------------------------------
 */

$primary-color: #7c43d7;
$secondary-color: #6200ea;
$background-color: #151515;
$text-color: #eee;
$secondary-text-color: #dedede;
$link-color: #a268ff;
$success-color: #00ff6a;
$warning-color: #ffee00;
$danger-color: #ff1d7b;
