/**
 * Import all SCSS files here
 * ----------------------------------------
*/

@import './variables';
@import './font';
@import './components';

@import './layout/structure';
@import './layout/header';
@import './layout/navigation';
@import './layout/footer';

@import './pages/index';
@import './pages/impressum';
@import './pages/kontakt';
@import './pages/linkleap';

/**
 * ----------------------------------------
*/

* {
	margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Rubik', sans-serif, Helvetica, Arial;
}
