#content {
    .container {
        padding: 2.5rem 0;

        b {
            font-size: 22px;
            font-weight: 400;
            text-align: center;
        }

        img {
            margin-top: 2.5rem;
            max-height: 350px;
            max-width: 100%;
        }
    }
}