.contact-form {
    width: 75%;

    .contact-form-head {
        margin-bottom: 2.5rem;

        h1 {
            margin-bottom: 1rem;
            color: $primary-color;
        }

        p {
            font-size: 16px;
        }
    }

    label {
        display: block;
        margin-bottom: 0.5rem;
    }

    @media screen and (max-width: 1024px) {
        width: 100%;
    }
}